.productItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 92%;
  height: 95%;
  margin: 0.5rem auto;
  cursor: pointer;
}

.productItem img {
  height: 20.625rem;
  object-fit: scale-down;
}

.productItem.isOutOfStock {
  opacity: 0.4;
}

.productContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3.625rem;
}

.productContent p {
  margin: 0;
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.1rem;
}

.productContent .price {
  font-weight: bold;
}

.addToCartIcon {
  position: absolute;
  right: 2rem;
  bottom: 19%;
  background-color: #5ece7b;
  text-align: center;
  border-radius: 50%;
  width: 3.25rem;
  height: 3.25rem;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartIcon {
  width: 1.5rem;
}
