.outOfStock {
  position: absolute;
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: 400;
  color: #8d8f9a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
