.nav {
  background-color: white;
  width: 100%;
  z-index: 20;
  position: relative;
}

.main {
  width: 95%;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main {
    width: 80%;
  }
}