.button {
  width: 18.25rem;
  height: 3.25rem;
  border: none;
  background-color: #5ece7b;
  color: white;
  font-family: Raleway;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #4ba262;
}

.button:disabled {
  background-color: #a24b4b;
}
