.radioGroup {
  width: 100%;
  font-size: inherit;
}

.radioGroup .radioGroupLable {
  font-family: Roboto Condensed;
  font-weight: 700;
  text-align: left;
  font-size: 1.125em;
}

.radioGroup .radioGroupLable.mini {
  font-family: Raleway;
  font-weight: normal;
  font-size: 0.875rem;
}

.radioAttributes {
  width: 100%;
  display: flex;
  margin: 0.5em 0;
  gap: 0.7em;
  flex-wrap: wrap;
  font-size: inherit;
}
