.icon {
  width: 2rem;
}

.arrow {
  position: absolute;
  right: -0.5rem;
  bottom: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
}

.up {
  animation: animate-up 1s linear forwards;
}

.down {
  animation: animate-down 1s linear forwards;
}

@keyframes animate-up {
  0% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}

@keyframes animate-down {
  0% {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
