.radioContainer {
  position: relative;
  font-size: inherit;
}

.radioButton {
  appearance: none;
  font-size: inherit;
  border: solid #1d1f22 1px;
  width: 3.938em;
  height: 2.813em;
  background-color: white;
  margin: 0;
  cursor: pointer;
}

.radioButton.mini {
  width: 1.7rem;
  height: 1.7rem;
}

.radioContainer label {
  position: absolute;
  margin: auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  font-family: Source Sans Pro;
}

.radioContainer label.mini {
  max-width: 1.3rem;
  max-height: 1.8rem;
  word-wrap: break-word;
  font-size: 0.7rem;
}

.radioButton:checked {
  background-color: #1d1f22;
}

.radioButton:checked + label {
  color: white;
}

.radioButton.swatch {
  width: 2.25em;
  height: 2.25em;
  margin-left: 0.2rem;
}

.radioButton.swatch.mini {
  width: 1rem;
  height: 1rem;
}

.radioButton.swatch:checked {
  outline: 2px solid #5ece7b;
  outline-offset: 1px;
}
