.productDescription {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productDescription .productContent {
  width: 100%;
}

@media (min-width: 1430px) {
    .productDescription .productContent {
       width: 35%;
    }
}
