.cartItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cartItem .cartItemDescription {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 75%;
}

.cartItem .cartItemDescription.mini {
  width: 45%;
  row-gap: 0.5rem;
}

.productTitle {
  font-size: 1rem;
  font-weight: 300;
}

.productPrice {
  font-size: 1rem;
  font-weight: 600;
}

.cartInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: inherit;
  text-align: center;
}

.cartInputs p {
  margin: 0;
  font-size: 1.5em;
  font-family: Raleway;
  font-weight: bold;
}

.cartInputs button {
  font-size: inherit;
  font-weight: bold;
  width: 2.813em;
  height: 2.813em;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid black;
}

.cartInputs button:hover {
  color: white;
  background-color: black;
}

.changeableimages img {
  width: 7.563rem;
  height: 11.875rem;
}
