.cartItem {
  display: flex;
  width: 100%;
}

.cartItem .cartItemDescription {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 50%;
}

.cartInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: inherit;
  text-align: center;
}

.cartInputs p {
  margin: 0;
  font-size: 1.5em;
  font-family: Raleway;
  font-weight: bold;
}

.cartInputs button {
  font-size: inherit;
  font-weight: bold;
  width: 2.813em;
  height: 2.813em;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid black;
}

.cartInputs button:hover {
  background-color: #1d1f2267;
}

.image {
  position: relative;
  font-size: inherit;
}

.image img {
  font-size: inherit;
  width: 12.5em;
  height: 18em;
}
